body {
  background: rgb(181, 182, 196);
  font-family: "Cinzel", serif;
}
a {
  color: #9670f4;
  text-decoration: none;
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
}
.App footer a {
  color: white;
}
.App footer a:hover {
  color: #9670f4;
}
.App .dictionary-header {
  font-size: 62px;
  text-align: center;
  font-family: "Cinzel", serif;
  margin-top: 20px;
}
@media (max-width: 576px) {
  .App .dictionary-header {
    font-size: 56px;
  }
}
